@font-face {
    src: url('../../images/fonts/Sabo-Filled.otf');
    font-family: sabo;
}
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.splashpage_auth__main {
    grid-area: main / footer; 
    width: 100vw; 
    height: 100vh; 
    display: grid; 
    grid-template-columns: 32% 36% 32%;
    grid-template-rows: 20% 40% 30%;
    grid-template-areas: 
    ". drawdiv ."
    "math draw memory"
    "math_hi draw memory_hi";
    background-color: #adeecf;
    position: relative; 
}

.picture__container {
    grid-area: draw; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.picture__div {
    position: relative; 
    height: 450px;
    width: 500px; 
    background-color: white;
    border: 5px solid rgb(255, 191, 252);
    overflow: hidden;
}

.picture__text {
    position: absolute; 
    top: 15%;
    left: 8%;
    font-family: 'Gloria Hallelujah';
    font-size: 40px; 
}

.math__container {
    grid-area: math; 
    display: flex; 
    justify-content: center;
    align-items: flex-start;
}

.math_heading__div {
    width: 50%; 
    margin-bottom: 10px;
    color: rgb(27, 0, 124);
}

.math__div {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    width: 400px;
    height: 275px;
    border-radius: 5px;
    border: 5px solid rgb(255, 191, 252);
    background-color: rgb(96, 255, 255);
    font-family: sabo;
    font-size: 70px;
    color: rgb(255, 191, 252);
}

.math__div:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.math_icons__div {
    width: 100%; 
    display: flex; 
    justify-content: space-around;
}

.math__calculator {
    transform: rotate(-0.05turn);
}

.math__equals {
    transform: rotate(0.05turn);
}

.memory__container {
    grid-area: memory; 
    display: flex; 
    justify-content: center;
    align-items: flex-start;
}

.memory__div {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    position: relative;  
    width: 400px;
    height: 275px;
    border-radius: 5px;
    border: 5px solid rgb(255, 191, 252);
    background-color: rgb(96, 255, 255);
    font-family: sabo;
    color: rgb(255, 191, 252);
    font-size: 70px;
}

.memory__div:hover {
    animation: rotate 1s linear both;
}

.memory_icons__div {
    width: 100%; 
    display: flex; 
    justify-content: space-around;
}

.memory__heading_one {
    color: rgb(27, 0, 124);
}

.memory__heading_two {
    color: rgb(27, 0, 124);
    margin-bottom: 10px;
}

.memory__eye {
    transform: rotate(-0.05turn);
}

.memory__light {
    width: 80px; 
    height: 80px;
    transform: rotate(0.05turn);
}

.memory__mind {
    width: 80px; 
    height: 80px;
}

.drawing__container {
    grid-area: drawdiv; 
    display: flex; 
    justify-content: center;
    align-items: flex-end;
}

.drawing__div {
    position: relative;
    top:18%;
    width: 250px;
    height: 150px; 
    border-radius: 5px;
    border: 5px solid rgb(255, 191, 252);
    background-color: rgb(96, 255, 255); 
    font-family: sabo;
    color: rgb(255, 191, 252);
    font-size: 50px;
}

.drawing__div:hover {
    animation: zoom 1.5s linear both; 
    z-index: 1000;
}

.drawing__link-span {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    z-index: 1;
}

.drawing__pic {
    position: absolute;
    top: 70px; 
    left: 10px;
    width: 80px; 
    height: 80px;
    transform: rotate(-0.02turn);
}

.drawing__gallery {
    position: absolute;
    top: 70px; 
    left: 160px;
    width: 80px; 
    height: 80px;
    transform: rotate(0.02turn);
}

.math_scores__container {
    grid-area: math_hi;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.math_scores-div {
    position: relative; 
    width: 220px; 
    height: 110px; 
    display: grid; 
    grid-template-areas: 
    'high total'
    'hi_score tot_score';
    border:rgb(255, 191, 252) solid 5px;
    border-radius: 10px; 
    background-color: rgb(96, 255, 255);
}

.math_scores-content {
    font-family: sabo;
    font-size: 28px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: rgb(255, 0, 212);
}

.math_trophy {
    position: absolute; 
    top: 40%;
    left: -15%; 
    z-index: 1;
    transform: rotate(-8deg); 
}

.memory_scores__container {
    grid-area: memory_hi;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.memory_scores-div {
    position: relative;  
    width: 220px; 
    height: 110px; 
    display: grid; 
    grid-template-areas: 
    'high total'
    'hi_score tot_score';
    border:rgb(255, 191, 252) solid 5px;
    border-radius: 10px; 
    background-color: rgb(96, 255, 255);
}

.memory_scores-content {
    font-family: sabo;
    font-size: 28px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: rgb(255, 0, 212);
}

.memory_trophy {
    position: absolute; 
    top: 40%;
    left: 89%;
    z-index: 1;
    transform: rotate(8deg); 
}

.trophy {
    color: gold; 
    width: 60px; 
    height: 60px; 
}

@keyframes shake {
    10%, 90% {
      transform: translate(-1px, 0);
    }
    
    20%, 80% {
      transform: translate(2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate(-4px, 0);
    }
  
    40%, 60% {
      transform: translate(4px, 0);
    }
  }

@keyframes rotate {
    20% {
      transform: rotate(0.15turn);
    }
    
    40% {
      transform: rotate(-0.15turn);;
    }
  
    60% {
      transform: rotate(0.15turn);;
    }
  
    80% {
      transform: rotate(-0.15turn);;
    }

    100% {
        transform: rotate(0 turn); 
    }
}

@keyframes zoom {
    33% {
        transform: scale(1,1) 
    }
    
    66% {
        transform: scale(2,2)
    }

    100% {
        transform: scale(1,1) 
    }
}