.picture__div {
    position: fixed; 
    height: 400px;
    width: 400px; 
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
}

.math__div {
    width: 400px;
    height: 300px;
    position: fixed;
    top: 100px; 
    left: 95px;
    border-radius: 5px;
    background-color: rgb(96, 255, 255);
}

.math__link-span {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    z-index: 1;
}

.memory__div {
    width: 400px;
    height: 300px;
    position: fixed;
    top: 100px;
    left: 1050px; 
    border-radius: 5px;
    background-color: rgb(96, 255, 255);
}

.drawing__div {
    width: 250px;
    height: 175px; 
    position: fixed;
    top: 100px;
    left: 640px;  
    border-radius: 5px;
    background-color: rgb(96, 255, 255);
}