[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
sqlalchemy = "*"
werkzeug = "*"
flask-login = "*"
alembic = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-cors = "*"
wtforms = "*"
flask-jwt-extended = "*"
email-validator = "*"
six = "*"
jinja2 = "*"
gunicorn = "*"
click = "*"
itsdangerous = "*"
markupsafe = "*"

[dev-packages]
psycopg2-binary = "*"

[requires]
python_version = "3.8"
