[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
sqlalchemy = "*"
werkzeug = "*"
flask-login = "*"
alembic = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-cors = "*"

[dev-packages]
psycopg2-binary = "*"

[requires]
python_version = "3.8"
