@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* nav buttons */
.nav__login-button {
    width: 100px;
    height: 40px; 
    margin: 10px 5px; 
    border-radius: 3px; 
    border: none; 
    font-family: 'Roboto';
    background-color: cornflowerblue;
    cursor: pointer;
    font-size: 28px;
}

.nav__login-button:hover {
    color: rgb(197, 6, 255); 
    background-color:purple;
    font-weight: bold;
}

.nav__signup-button {
    width: 120px;
    height: 40px; 
    margin: 10px 5px; 
    border-radius: 3px; 
    border: none; 
    font-family: 'Roboto';
    background-color: greenyellow;
    cursor: pointer;
    font-size: 28px;
}

.nav__signup-button:hover {
    color: rgb(238, 255, 0); 
    background-color: rgb(255, 0, 0);
    font-weight: bold;
}

/* login form */
.form__login {
    height: 86%; 
    width: 300px;
    box-sizing: border-box; 
    padding-left: 30px;  
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.form__login-label {
    display: block; 
    padding-left: 5px;
    font-family: 'Gloria Hallelujah';
    font-size: 24px;
    font-weight: bolder;
}

.textbox__login {
    height:40px; 
    width: 250px; 
    box-sizing: border-box; 
    border: none;
    padding: 10px; 
    
    background-color: rgb(255, 191, 252);
    border-radius: 3px;
}

.textbox__login:focus{
    background: white; 
}

.button__login{
    height: 50px; 
    width: 250px; 
    border-radius: 3px; 
    border: rgba(0,0,0,0.3) 0px solid; 
    box-sizing:border-box;
    background: greenyellow;
    font-weight:bold;
    font-size: 28px;
    transition: background-color 0.4s;
    cursor: pointer;  
    font-family: 'Roboto';
    margin-top: 15px;
}

.button__login:hover {
    color: rgb(255, 145, 0); 
    background-color: rgb(255, 0, 0);
}

.button__home-login { 
    height: 50px; 
    width: 250px; 
    border-radius: 3px; 
    border: rgba(0,0,0,0.3) 0px solid; 
    box-sizing:border-box;
    background:  cornflowerblue;
    font-weight:bold;
    font-size: 28px;
    transition: background-color 0.4s;
    cursor: pointer;  
    font-family: 'Roboto';
    margin-top: 15px;
}

.button__home-login:hover {
    color: rgb(197, 6, 255); 
    background-color:purple;
}

.login__heading {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items:center;
    height: 60px;
    font-family: 'Gloria Hallelujah'; 
    font-size: 44px;
}

/* signin form */ 
.form__signin {
    height: 86%; 
    width: 300px;
    box-sizing: border-box; 
    padding-left: 30px;  
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 15px; 
}

.form__signin-label {
    display: block; 
    padding-left: 5px;
    font-family: 'Gloria Hallelujah';
    font-size: 20px;
    font-weight: bolder;
}

.textbox__signin {
    height:20px; 
    width: 250px; 
    box-sizing: border-box; 
    border-radius: 3px;
    border: none;
    padding: 15px; 
    background-color: rgb(255, 191, 252);
}

.textbox__signin:focus{
    background: white; 
}

.button__signin{
    height: 50px; 
    width: 250px; 
    border-radius: 3px; 
    border: rgba(0,0,0,0.3) 0px solid; 
    box-sizing:border-box;
    background: greenyellow;
    font-weight:bold;
    font-size: 26px;
    transition: background-color 0.4s;
    cursor: pointer;  
    font-family: 'Roboto';
    margin-bottom: 15px;
    margin-top: 15px;
}

.button__signin:hover {
    color: rgb(255, 145, 0); 
    background-color: rgb(255, 0, 0);
}

.signin__heading {
    display: flex; 
    justify-content: center;
    align-items:center;
    height: 40px;
    font-family: 'Gloria Hallelujah'; 
    font-size: 44px;
    padding-top: 10px;
}

.button__home-signin { 
    height: 50px; 
    width: 250px; 
    border-radius: 3px; 
    border: rgba(0,0,0,0.3) 0px solid; 
    box-sizing:border-box;
    background:  cornflowerblue;
    font-weight:bold;
    font-size: 28px;
    transition: background-color 0.4s;
    cursor: pointer;  
    font-family: 'Roboto';
}

.button__home-signin:hover {
    color: rgb(197, 6, 255); 
    background-color:purple;
}

.errors__container {
    /* display:none;  */
    height: 90px; 
}