@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.page__draw {
    width: 100vw; 
    height: 100vh; 
    background: url('../../images/draw_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.draw_container { 
    height: 720px; 
    display: grid; 
    grid-template-rows: 15% 65% 10%;
    grid-template-areas: 
    "submit"
    "canvas"
    "tools"; 
    position: relative; 
}

.container__canvas-board {
    grid-area: submit / canvas / tools;
    height: 800px; 
    width: 650px; 
}

.submission_container {
    grid-area: submit;
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 65px;
    padding-right: 65px; 
}

.container__canvas { 
    grid-area: canvas;
    position: absolute; 
    top: -2%; 
    left: 13%; 
    width: 480px;
    height: 475px;  
    z-index: 1;
    overflow: hidden; 
}

.container__paint {
    grid-area: tools; 
    display: flex; 
    justify-content: space-around;
    position: relative; 
}

.dropdown {
    height: 50px; 
    font-family: 'Gloria Hallelujah';
    font-size: 20px;
    background-color: darkgoldenrod;
    border: chocolate solid; 
    border-radius: 15px;
}

.paint__green {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:green;
}

.paint__blue {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:blue;
}

.paint__red {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: red;
}

.paint__black {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:black;
}

.paint__save {
    height: 50px; 
    font-size: 20px; 
    font-family: 'Gloria Hallelujah';
    border: solid chocolate;
    border-radius: 15%;
    background-color:darkgoldenrod;
}

.paint__save:hover {
    opacity: 0.7;
}

.paint__reset {
    height: 50px; 
    font-size: 20px; 
    font-family: 'Gloria Hallelujah';
    border: solid chocolate;
    border-radius: 15%;
    background-color:darkgoldenrod;
}

.paint__reset:hover {
    opacity: 0.7;
}

.paint__submit {
    width: 150px;
    font-size: 26px; 
    font-family: 'Gloria Hallelujah';
    border: solid chocolate;
    border-radius: 15%;
    background-color:darkgoldenrod;
    margin: 0; 
    cursor: pointer;
}

.paint__submit:hover {
    background-color: rgb(96, 255, 255);
    color: rgb(255, 191, 252);
    border:rgb(255, 191, 252) solid; 
    font-weight: bold;
}

.paint__info {
    width: 35px; 
    height: 35px;
    color:rgb(96, 255, 255)
}

.paint__info:hover {
    color: rgb(255, 191, 252);
}

.draw_overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000; 
}

.draw_modal {
    position: fixed; 
    top: 50%; 
    left: 50%;
    width: 330px;
    height: 520px; 
    margin-right: 10px;  
    transform: translate(-50%, -50%); 
    background-color: rgb(96, 255, 255); 
    color: black;
    border:rgb(255, 191, 252) solid 8px; 
    border-radius: 5px;
    z-index: 1000;
    border-radius: 15px;
}

.instructions_button{
    height: 60px; 
    width: 120px; 
    position: absolute; 
    top: 84%;
    left: 30%; 
    border-radius: 3px; 
    border: rgba(0,0,0,0.3) 0px solid; 
    box-sizing:border-box;
    background: greenyellow;
    font-weight:bold;
    font-size: 22px;
    transition: background-color 0.4s;
    cursor: pointer;  
    font-family: 'Roboto';
    margin-bottom: 12px;
    margin-top: 12px;
}

.instructions_button:hover {
    color: rgb(255, 145, 0); 
    background-color: rgb(255, 0, 0);
}

.instructions_draw-heading {
    font-family: 'Gloria Hallelujah';
    font-size: 20px;
    margin-left: 20px;
    padding-right: 10px; 
}

.instructions_draw-points {
    font-family: 'Gloria Hallelujah';
    font-size: 14px;
    margin-right: 10px; 
}