.page__draw {
    width: 100vw; 
    height: calc(100vh - 40px); 
    background: url('../../images/draw_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container__canvas {
    position: fixed; 
    top: 54%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    width: 480px;
    height: 475px;  
    overflow: hidden; 
}

.container__canvas-board {
    position: absolute; 
    top: 8%; 
    left: 28%; 
    height: 800px; 
    width: 650px; 
}
