.app_main {
    display: grid; 
    grid-template-rows: 10% 80% 10%; 
    grid-template-areas: 
    "navbar" 
    "main" 
    "footer";
    width: 100vw;
    height: 100vh; 
}

div#preload { display: none; }