@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.footer_container {
    position: fixed; 
    top: calc(100vh - 70px);
    width: 100vw;
    background-color: rgb(30, 33, 30);
    display: grid; 
    grid-template-columns: 25fr 50fr 25fr;
    grid-template-areas: 
    "proj empty me";
    height: 70px;
    background-color: rgb(250, 246, 207);
  }

.footer_proj {
  grid-area: proj; 
  margin-left: 25%;
  margin-top: 20px;
}

.footer_me {
  grid-area: me;
  display: flex; 
  flex-direction: column;
}

.footer_linked {
  position: relative; 
  height: 35px; 
}

.footer_git {
  position: relative; 
  height: 35px; 
}

.footer_icon_linked {
  color: cornflowerblue;
  background-color: white;
  width: 30px; 
  height: 30px; 
}

.footer_icon_git {
  width: 30px; 
  height: 30px; 
}

.footer_link {
  height: 100%; 
  font-family: 'Roboto';
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
}