@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.nav__container {
    /* grid-area: navbar;  */
    display: grid; 
    width: 100%;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-areas: 
    "home logo auth";
    background-color: rgb(250, 246, 207);
}

.nav__div-home {
    grid-area: home;
    display: flex; 
    justify-content: center;
    margin-top: 8px;
}

.nav__div-auth {
    grid-area: auth;
    height: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 15px;
}

.nav__div-prof {
    grid-area: auth;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.nav__div-title {
    grid-area: logo;
    position: relative;
    display: flex; 
    /* align-items: center;   */
    justify-content: center;
}

.nav__title { 
    align-self: center;
    font-size: 40px;
    font-family: 'Gloria Hallelujah';
}

.nav__icon {
    align-self: flex-start;
    width: 70px; 
    height: 65px;
    margin-right: 15px; 
    background: url('../../images/brain_icon.png');
    background-size: cover;
}

.nav__home-button {
    height: 40px; 
    width: 100px; 
    border-radius: 3px; 
    border: rgba(0,0,0,0.3) 0px solid; 
    box-sizing:border-box;
    background: greenyellow;
    font-weight:bold;
    font-size: 28px;
    transition: background-color 0.4s;
    cursor: pointer;  
    font-family: 'Roboto';
    margin-top: 15px;
}

.nav__home-button:hover {
    color: rgb(255, 145, 0); 
    background-color: rgb(255, 0, 0);
}

.active {
    font-weight: bold;
    font-size: x-large;
}

@media only screen and (min-width: 1751px) {
    .nav__title {
        font-size: 50px;
    }
    .nav__icon {
        width: 90px; 
        height: 85px;
        margin-top: 0px;
    }
}