.nav__container {
    display: grid; 
    box-sizing: border-box;
    height: 100%;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-areas: 
    "home logo auth";
}

.nav__div-home {
    grid-area: home;
    display: flex;
    justify-content: center;
}

.nav__div-auth {
    grid-area: auth;
    display: flex; 
    justify-content: space-evenly;
}

.nav__div-prof {
    grid-area: auth;
    display: flex;
    justify-content: center;
}

.nav__div-title {
    grid-area: logo;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.nav__icon {
    width: 40px; 
    height: 40px; 
    background: url('../../images/brain_icon.png');
    background-size: cover;
}