.base-timer {
    position: relative; 
    height: 300px; 
    width: 300px; 
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none; 
    stroke: none; 
    animation: shake 1.25s cubic-bezier(.36,.07,.19,.97) both;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey; 
}

.base-timer__label {
    position: absolute; 
    width: 300px; 
    height: 300px; 
    top: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg); 
    transform-origin: center;
    transition: 1s linear all; 
    stroke: currentColor; 
}

@keyframes shake {
    10%, 90% {
      transform: translate(-1px, 0);
    }
    
    20%, 80% {
      transform: translate(2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate(-4px, 0);
    }
  
    40%, 60% {
      transform: translate(4px, 0);
    }
  }