@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

html {
    overflow: hidden;
}

.page {
    width: 100vw; 
    height: calc(100vh - 50px); 
    background: url('../../../images/math-background-13108.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.chalkboard__div {
    width: 830px; 
    height: 540px; 
    position: fixed; 
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background: url('../../../images/chalkboard.jpg') center;
    background-size: cover;
}

.chalkboard__heading {
    position: absolute;
    top: 0px; 
    left: 250px; 
    font-family: 'Fredericka the Great';
    font-size: 40px; 
    color: rgba(255, 255, 255, 0.747); 
}

.questions__div_one {
    position: absolute; 
    top: 100px; 
    left: 120px; 
    font-family: 'Fredericka the Great';
    font-size: 40px; 
    color: white; 
}

.questions__div_two {
    position: absolute; 
    top: 100px; 
    left: 450px; 
    font-family: 'Fredericka the Great';
    font-size: 40px; 
    color: white; 
}

.questions__question {
    padding: 10px 0px; 
}

.questions__answer {
    width: 50px; 
    height: 50px;
    background-color: none; 
    border-bottom: white solid;
    border-top: none; 
    border-left: none;
    border-right: none;
    border-radius: 5px;
    background-color: green;
    box-sizing: border-box;
    color: #92cd00;
    font-size: 26px;
    font-family: 'Gloria Hallelujah';
    padding-left: 10px;
}

.questions__answer:hover {
    background-color: #e5e4d7;
}

.questions__answer:focus {
    background-color: #ffe77aff;
}

.questions__button {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 60px; 
    width: 140px; 
    position: fixed; 
    top: 80px; 
    left: 700px;
    border-radius: 5px;
    font-size: 32px;
    font-family: 'Gloria Hallelujah';
    background-color: red;
}



@keyframes move {
    33% {
        transform: translate(55vw, -275px);
    }

    66% { 
        transform: translate(-120vw, -275px);
    }

    100% {
        transform: translate(-50%, -50%); 
    }
}