.main {
    position: fixed;
    top: 30%;
    left: 45%; 
    height: 80px; 
    width: 80px; 
    border-radius: 50%;
    display: inline-block; 
    border: solid black; 
    animation: main 3s; 
}

.container__lights {
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    display: none; 
}

.light {
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
    display: inline-block; 
    border: solid black; 
}

span.light {
    margin: 0 10px; 
}
